*{
  margin: 1px 15px 5px 15px;
  font-style:serif,inherit;
}
body{
  align-content: center;
  color: black;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.A img{
  /* float: right; */
  
  height: 350px;
  width: 700px;
  border-radius: 5%;
}
nav{
  height: 50px;
  width: 100%;
  background-size: cover;
  background: linear-gradient(to right,#545454,gray);
  /* top: 0px; */
  position: relative; 
  margin-left: -30px;
  padding: auto;
}
nav button a{
  padding-top: auto;
  padding-bottom: auto;
  text-decoration: none;
}
.right_side{
  width: 70%;
  float: right;
}
.side_view{
  width: 24%;
  height: 100vh;
  float: left;
  position: fixed;
  border: 5px solid white;
  box-shadow:1px 1px 1px 1px rgba(0,0,0,0.5);
}
li a{
  color: green;
  text-decoration: none;
}
h1{
  color: #00008b;
}
p,li{
  color: #0096ff;
}
b{
  color: black;
}
h4{
  color: #1f51ff;
}
#side_b{
  color: white;
  background: gray;
}
footer{
  height: 80px;
  background: gray;
}
footer img{
  height: 35px;
  width: 35px;
}
footer a{
  text-decoration: none;
  padding: 5px 10px 20px 10px;
}
